.App {
  text-align: center;
}

.button1{
  background-color: chocolate ;
 
}
.button2{
  background-color: green ;
  border-radius: 2px;
}
.button3{
  background-color: red ;
  border-radius: 2px;
}




